@import "node_modules/bootstrap/scss/bootstrap";

@import "custom";

@import 'font-awesome.css';
@import 'simple-line-icons.css';


body, h1, h2, h3, h4, h5, h6, input, textarea, button {
  font-family: 'source sans pro', sans-serif;
  font-weight: 400;
  color: #484848;
} 

.navbar-brand {                                      
  font-family: 'Poppins', sans-serif !important;     
} 

body {                                               
  background-color: #FAFAFA;                         
} 

h2.title {                                           
  font-weight: 300;                                  
  &> span {
    font-size: 50%;                                  
    font-weight: 400;                                
    opacity: 0.6;
  } 
} 

.headline {                                          
  h2, h3 {
    font-weight: 300;                                
  } 
} 

input::placeholder {                                 
  font-style: italic;                                
  font-size: 80%;
  color: #cdcdcd;                                    
} 


.header-link {
  a {
    position: relative;
  }
  a:before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 8px;
    right: 9px;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}